*{
    margin: 0;
    padding: 0;
    font-family: 'Koulen', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}

.banner{
    width: 100%;
    height: 200vh;
    background-image: url(img/backround.gif);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'fjalla one', sans-serif;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #5b00ab;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;

}


.content h1{
    font-size: 100px;
    margin-top: 50px;
    color: #ffffff;
    font-family: 'metal mania', sans-serif;

}
.content p{
    margin: 20px auto;
    font-weight: 20;
    line-height: 50px;
    color: rgba(255,255,255);
    font-family: 'koulen', sans-serif;
}
button{
    width: 147px;
    height: 33px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-size: 20px;
    border: 2px solid #5b00ab;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: 'notable', sans-serif;
}
span{
    background: #5b00ab;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
}
.bg{
    background-color: rgb(255, 255, 255)

}
.item{
    height: 100%;
    width: 100%;
    position: center;
    top: 90%;
    background: #fbffff;
    border-radius: 0px;
    font-weight: bold;
    border: 10px solid #5b00ab;
    background: transparent;
    
}

.LOGO{
    height: 400px;
    width: auto;
}

@media screen and (max-width:800px) {
    .LOGO {
        width: 200px;
        height: auto;
    }
    .content p{
        height: auto;
        width: 275px;
        display: flex;
        justify-content: start;
        margin: 0;
    }
  
img{
    width: 100%;
    height: auto;
}
  .button{
    display: flex;
    justify-content: center;
  }

.bluep{
    border: none;
    border-radius: 50px;
    color: rgba(255,255,255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-content: center;
    background-color: #0007A9;
}
.redp{
    border: none;
    border-radius: 50px;
    color: rgba(255,255,255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-content: center;
    background-color: #A90000;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}


.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  color: rgba(255,255,255);
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgba(255,255,255);
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

a{
    text-decoration: none;
    color: rgba(255,255,255);
}

.gallery{
    display: grid;
    grid-template-rows: auto;
    gap: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

.title{
  color: rgba(255,255,255);
  text-align: center;
  margin-top: 50px;
 }

 .text1{
  color: rgba(255,255,255);
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;

 }

 .rating1{
  color: rgba(255,255,255);
  text-align: center;
}

.title2{
  color: rgba(255,255,255);
  text-align: center;
  margin-top: 70px;
}

.text2{
  color: rgba(255,255,255);
  text-align: center;
}